.header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 999;
    height: 60px;
    padding-inline: 30px;
    width: 100%;
}
/*.Header.scrolled{
    background-color: var(--color-azulEscuro);
}*/
.logo{
    height: 50px;
    width: 50px;
}